@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 id="home-title" class="display-4">Goodreads Data Analysis + Favorite Books</h1>
    <p>One-stop shop for an analysis of the Goodreads 10K books dataset and a listing of your favorite books.</p>
    <img src="img/home-img.png" alt="Homepage Image of a Book" />
</div>
