@using GoodreadsDataAnalysis.Models
@model Tuple<GoodreadsBook,GoodreadsBookToTag,GoodreadsTagsMapping,GoodreadsUserBookRating,GoodreadsUserBooksToRead>

@{
    ViewData["Title"] = "Goodreads Data Analysis";
}

<h1>Goodreads Data Analysis</h1>

<p>Under construction...</p>
